body {
  padding-left: 10px;
  padding-right: 80vw;
}
.dot {
  margin: 5px auto;
  height: 25px;
  width: 25px;
  background-color: whitesmoke;
  border-radius: 50%;
  /* display: inline-block; */
  border: 1px solid black;
}
#dot__button {
  margin-top: 20px;
  width: 100%;
}
#dot_red {
  background-color: red;
}
#dot_yellow {
  background-color: yellow;
}
#dot_green {
  background-color: green;
}
#off {
  background-color: whitesmoke;
}
