html,
body {
  margin: 17px;
  background-color: #3399cc;
}
.container {
  margin: 50px auto;
  width: 984px;
  height: 622px;
  background-color: white;
  border: 3px solid white;
  box-sizing: border-box;
  font-size: 0px;
  padding: 0;
}
.container .item {
  transition: all 0.1s ease-in;
}
.container:hover .item {
  opacity: 0.5;
}
.container:hover .item:hover {
  opacity: 1;
}
.title {
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 300;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 0px;
}
.numb {
  margin-top: 16px;
  text-align: center;
  color: white;
  font-size: 26px;
  letter-spacing: 3px;
  font-weight: 300;
  font-family: "Noto Sans JP", sans-serif;
}
p > i.tut {
}

.item {
  display: inline-block;
  height: 154px;
  border: 3px solid white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 25%;
}
.item-2 {
  width: 50%;
}
.item-4 {
  width: 100%;
}
.col-1 {
  background-color: #3399cc;
}
.col-2 {
  background-color: #33cccc;
}
.col-3 {
  background-color: #996699;
}
.col-4 {
  background-color: #c24747;
}
.col-5 {
  background-color: #e2674a;
}
.col-6 {
  background-color: #ffcc66;
}
.col-7 {
  background-color: #99cc99;
}
.col-8 {
  background-color: #669999;
}
.col-9 {
  background-color: #cc6699;
}
.col-10 {
  background-color: #339966;
}
.col-11 {
  background-color: #666699;
}
